body{
    background-color: cadetblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resize{
    width: 1000px;
    height: 500px;
}

.div{
    padding: 10px;
    background-color: rgb(255, 197, 197);
    color: white;
    margin: 10px;
}

#div{
    padding: 10px;
    background-color: rgb(254, 19, 19);
    color: white;
    margin: 10px;
}